<nb-card>
  <nb-card-header>
    <div class="title">
      <h2>Trace</h2>
    </div>
    <div class="trace-box">
      <div class="row">
        <div class="col-md-8">
          <input type="text" ([ngModel])="searchText" #searchText placeholder="Enter id or bardcode" class="form-control">
        </div>
        <div class="col-md-4">
          <div class="acions">
            <button class="btn-trace" type="submit" (click)="trace(searchText.value)">Trace</button>
            <a class="btn-trace">Map Trace</a>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>
</nb-card>

<div class="batch-result" *ngIf="isBatch">
  <ngx-batch-result [batchRecords]="filtered_batchRecords"></ngx-batch-result>
</div>
<div class="logistics-result" *ngIf="isLogistic">
  <ngx-logistics-result [logisticsRecords]="filtered_logisticsRecords"></ngx-logistics-result>
</div>
<div class="map" *ngIf="isBatch || isLogistic && showMapTrac">
  <ngx-map-trace></ngx-map-trace>
</div>
<div class="noresult" *ngIf="noResultFound == true">
  <nb-card>
    <nb-card-body>
      <h2 style="margin:0;">No results found</h2>
    </nb-card-body>
  </nb-card>
</div>