<nb-card size="large">
    <nb-card-header>Weather Report</nb-card-header>
    <nb-card-body>
      <nb-tabset class="air-sun-block" fullWidth>
        <nb-tab tabTitle="Today">
            <div class="report-block">
                <p>  <b> Air Quality </b> </p>
                <div class="report-status">
                    <div class="report-text"> 
                        <h5>Good</h5>
                        <p>Main Pollutant:  PM <span>2.5</span>   </p> 
                    </div>
                    <div class="report-number">38</div>
                </div>
                <div class="weather-report-bar">
                   <img class="img-responsive" src="assets/images/weather-report-bar.png" alt="..." /> 
				</div>
				<div class="measure-unit">
					<div class="unit">0</div>
					<div class="unit">50</div>
					<div class="unit">100</div>
					<div class="unit">200</div>
					<div class="unit">300</div>
					<div class="unit">400</div>
					<div class="unit">500</div>
				</div>
				<div class="message">
					<div>Health message</div>
					<div> <strong>Idol air quality for outdoor activities </strong> </div>
					<div>Measured</div>
					<div> <strong> <span>8</span> <span>km</span>  from your location </strong> </div>
				</div>
				<div class="overall-status">
					<p>Sunrise and sunset</p>
					<div>
						<img src="assets/images/weather-sun.png" alt="....." />
					</div>
					<h6>Length of day <b>13h 24m</b>  </h6>
					<h6>Length of daylight <b>4h 24m</b>  </h6>
					
				</div>
            </div>
        </nb-tab>
        <nb-tab tabTitle="Tommorrow">
        </nb-tab>
        <nb-tab tabTitle="10 Days">
          </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>