<nb-card>
	<nb-card-header>
		<div class="title">
			<h2>Create Batch Record</h2>
		</div>
	</nb-card-header>
</nb-card>

<div class="batch-record">
	<form action="#" [formGroup]="createBatchRecord" (ngSubmit)="BatchRecordData()">
		<div class="record">
			<nb-card>
				<nb-card-header>
					<h2>Batch Details</h2>
				</nb-card-header>
				<nb-card-body>
					<div class="form-group">
						<label class="label">Batch ID:</label>
						<div class="control">
							<input type="text" formControlName="batchId" placeholder="23167F" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="label">Barcode:</label>
						<div class="control">
							<input type="text" placeholder="7A8B" formControlName="barcode" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="label">Produce type:</label>
						<div class="control">
							<input type="text" placeholder="Garri" formControlName="produceType" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="label">Production location:</label>
						<div class="control">
							<input type="text" placeholder="Lagos" formControlName="productionLocation" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="label">Produced by:</label>
						<div class="control">
							<input type="text" placeholder="Honeywell Industries" formControlName="producedBy" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="label">Production timestamp:</label>
						<div class="control">
							<input type="text" placeholder="May 24, 18   7:58 PM" formControlName="productionTimestamp" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="label">Batch best timestamp:</label>
						<div class="control">
							<input type="text" placeholder="May 24, 20" formControlName="batchBestTimestamp" class="form-control">
						</div>
					</div>
				</nb-card-body>
			</nb-card>
		</div>
		<div class="record">
			<nb-card>
				<nb-card-header>
					<h2>Batch Properties</h2>
				</nb-card-header>
				<nb-card-body>
					<div class="table-box">
						<table cellpadding="0" cellspacing="0" border="0">
							<thead>
								<tr>
									<th>Properties</th>
									<th>Values</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody formArrayName="properties" *ngFor="let property of createBatchRecord.get('properties').controls; let i = index;">
								<tr [formGroupName]="i">
									<td>
										<input type="text" placeholder="Temperature" formControlName="name" class="form-control">
									</td>
									<td>
										<input type="text" placeholder="500C" formControlName="value" class="form-control">
									</td>
									<td>
										<div class="action">
											<a class="add" (click)="addProperty()">Add</a>
											<a class="remove" (click)="removeProperty(i)">Remove</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</nb-card-body>
			</nb-card>
		</div>
		<div class="record">
			<nb-card>
				<nb-card-header>
					<h2>Add Constituents</h2>
				</nb-card-header>
				<nb-card-body>
					<div class="table-box">
						<table cellpadding="0" cellspacing="0" border="0" class="full-width">
							<thead>
								<tr class="head-title">
									<th>constituents</th>
									<th colspan="5">details</th>
								</tr>
								<tr>
									<th>ID</th>
									<th>Type</th>
									<th>Company</th>
									<th>Time</th>
									<th>Barcode/ID</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody formArrayName="constituents" *ngFor="let constituent of createBatchRecord.get('constituents').controls; let i = index;">
								<tr [formGroupName]="i">
									<td>
										<input type="text" readonly="readonly" formControlName="id" placeholder="2ABCD" value="2ABCD" class="form-control">
									</td>
									<td>
										<input type="text" placeholder="Garri" formControlName="type" class="form-control">
									</td>
									<td>
										<input type="text" placeholder="Agrichain" formControlName="company" class="form-control">
									</td>
									<td>
										<input type="text" placeholder="24th May, 18" formControlName="time" class="form-control">
									</td>
									<td>
										<input type="text" placeholder="Garri" formControlName="location" class="form-control">
									</td>
									<td>
										<div class="action">
											<a class="add" (click)="addConstituent()">Add</a>
											<a class="remove" (click)="removeConstituent(i)">Remove</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</nb-card-body>
			</nb-card>
		</div>
		<div class="record">
			<nb-card>
				<nb-card-header>
					<h2>Create Unavailable Constituents</h2>
				</nb-card-header>
				<nb-card-body>
					<div class="table-box">
						<table cellpadding="0" cellspacing="0" border="0" class="full-width">
							<thead>
								<tr class="head-title">
									<th>constituents</th>
									<th colspan="5">details</th>
								</tr>
								<tr>
									<th>ID</th>
									<th>Type</th>
									<th>Company</th>
									<th>Time</th>
									<th>Location</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody formArrayName="newConstituents" *ngFor="let newConstituent of createBatchRecord.get('newConstituents').controls; let i = index;">
								<tr [formGroupName]="i">
									<td>
										<input type="text" readonly="readonly" formControlName="id" placeholder="2ABCD" value="2ABCD" class="form-control">
									</td>
									<td>
										<input type="text" placeholder="Garri" formControlName="type" class="form-control">
									</td>
									<td>
										<input type="text" placeholder="Agrichain" formControlName="company" class="form-control">
									</td>
									<td>
										<input type="text" placeholder="24th May, 18" formControlName="time" class="form-control">
									</td>
									<td>
										<input type="text" placeholder="Dummy address" formControlName="location" class="form-control">
									</td>
									<td>
										<div class="action">
											<a class="add" (click)="addNewConstituent()">Add</a>
											<a class="remove" (click)="removeNewConstituent(i)">Remove</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</nb-card-body>
			</nb-card>
		</div>
		<div class="record">
			<nb-card>
				<nb-card-header>
					<h2>Metadata</h2>
				</nb-card-header>
				<nb-card-body>
					<div class="metadata">
						<div class="row form-group">
							<div class="col-md-4">
								<label>Comment:</label>
							</div>
							<div class="col-md-8">
								<input type="text" formControlName="metadata" placeholder="Comment" class="form-control">
							</div>
						</div>
					</div>
					<div class="submit">
						<input type="submit" class="btn-submit" value="Create">
						<!-- <button type="submit" class="btn-submit">Create</button> -->
					</div>
				</nb-card-body>
			</nb-card>
		</div>
	</form>
</div>
