<nb-card size="large">
  	<nb-card-header>Todo Lists</nb-card-header>
  	<nb-card-body>
		<div class="to-do-items">
			<div  class="date">
				<h6> Oct 15, 2018 </h6>
			</div>
			<div  class="to-do-list" >
				<div class="to-do-item">
					<div class="to-do-text"> Lipsum is simply dummy text. </div>
					<div class="to-do-time"> 
						
						<div class="to-do-time-item">
							<span class="info-icon-container"> <i  class="i-clock ion-clock"></i></span>  
							<span>8 AM</span>
						</div>

						<div class="to-do-time-item">
							<span class="info-icon-container"> 
								<i  class="icon-loop ion-loop"></i>
							</span> 
							<span> M, T, W </span>
						</div>    
					</div>
				</div>
				<div class="to-do-action">
					<span class="act-icon-container">
						<i  class="trash-icon ion-trash-a"></i>
					</span>
					<span class="act-icon-container">
						<i  class="tick-icon  ion-checkmark-circled"></i>
					</span>
				</div>
			</div>
			<div  class="to-do-list" >
				<div class="to-do-item">
					<div class="to-do-text"> Lipsum is simply dummy text. </div>
					<div class="to-do-time"> 
						
						<div class="to-do-time-item">
							<span class="info-icon-container"> <i  class="i-clock ion-clock"></i></span>  
							<span>8 AM</span>
						</div>

						<div class="to-do-time-item">
							<span class="info-icon-container"> 
								<i  class="icon-loop ion-loop"></i>
							</span> 
							<span> M, T, W </span>
						</div>    
					</div>
				</div>
				<div class="to-do-action">
					<span class="act-icon-container">
						<i  class="trash-icon ion-trash-a"></i>
					</span>
					<span class="act-icon-container">
						<i  class="tick-icon  ion-checkmark-circled"></i>
					</span>
				</div>
			</div>
		</div>

		<div class="to-do-items">
			<div  class="date">
				<h6> Oct 15, 2018 </h6>
			</div>
			<div  class="to-do-list" >
				<div class="to-do-item">
					<div class="to-do-text"> Lipsum is simply dummy text. </div>
					<div class="to-do-time"> 
						
						<div class="to-do-time-item">
							<span class="info-icon-container"> <i  class="i-clock ion-clock"></i></span>  
							<span>8 AM</span>
						</div>

						<div class="to-do-time-item">
							<span class="info-icon-container"> 
								<i  class="icon-loop ion-loop"></i>
							</span> 
							<span> M, T, W </span>
						</div>    
					</div>
				</div>
				<div class="to-do-action">
					<span class="act-icon-container">
						<i  class="trash-icon ion-trash-a"></i>
					</span>
					<span class="act-icon-container">
						<i  class="tick-icon  ion-checkmark-circled"></i>
					</span>
				</div>
			</div>
			<div  class="to-do-list" >
				<div class="to-do-item">
					<div class="to-do-text"> Lipsum is simply dummy text. </div>
					<div class="to-do-time"> 
						
						<div class="to-do-time-item">
							<span class="info-icon-container"> <i  class="i-clock ion-clock"></i></span>  
							<span>8 AM</span>
						</div>

						<div class="to-do-time-item">
							<span class="info-icon-container"> 
								<i  class="icon-loop ion-loop"></i>
							</span> 
							<span> M, T, W </span>
						</div>    
					</div>
				</div>
				<div class="to-do-action">
					<span class="act-icon-container">
						<i  class="trash-icon ion-trash-a"></i>
					</span>
					<span class="act-icon-container">
						<i  class="tick-icon  ion-checkmark-circled"></i>
					</span>
				</div>
			</div>
		</div>

		<div class="to-do-items">
				<div  class="date">
					<h6> Oct 15, 2018 </h6>
				</div>
				<div  class="to-do-list" >
					<div class="to-do-item">
						<div class="to-do-text"> Lipsum is simply dummy text. </div>
						<div class="to-do-time"> 
							
							<div class="to-do-time-item">
								<span class="info-icon-container"> <i  class="i-clock ion-clock"></i></span>  
								<span>8 AM</span>
							</div>
	
							<div class="to-do-time-item">
								<span class="info-icon-container"> 
									<i  class="icon-loop ion-loop"></i>
								</span> 
								<span> M, T, W </span>
							</div>    
						</div>
					</div>
					<div class="to-do-action">
						<span class="act-icon-container">
							<i  class="trash-icon ion-trash-a"></i>
						</span>
						<span class="act-icon-container">
							<i  class="tick-icon  ion-checkmark-circled"></i>
						</span>
					</div>
				</div>
				<div  class="to-do-list" >
					<div class="to-do-item">
						<div class="to-do-text"> Lipsum is simply dummy text. </div>
						<div class="to-do-time"> 
							
							<div class="to-do-time-item">
								<span class="info-icon-container"> <i  class="i-clock ion-clock"></i></span>  
								<span>8 AM</span>
							</div>
	
							<div class="to-do-time-item">
								<span class="info-icon-container"> 
									<i  class="icon-loop ion-loop"></i>
								</span> 
								<span> M, T, W </span>
							</div>    
						</div>
					</div>
					<div class="to-do-action">
						<span class="act-icon-container">
							<i  class="trash-icon ion-trash-a"></i>
						</span>
						<span class="act-icon-container">
							<i  class="tick-icon  ion-checkmark-circled"></i>
						</span>
					</div>
				</div>
			</div>
			
	</nb-card-body>
</nb-card>