<nb-card size="large" class="large-card">
  	<nb-card-header>Soil Moisture Analysis</nb-card-header>
  	<nb-card-body>
		<div class="table-responsive">
			<table class="soil-moinst-analysis-table table">
				<thead>
					<tr>
						<th>Test </th>
						<th>Method</th>
						<th>Result</th>
						<th>Ratings</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Soil ph</td>
						<td>1:1</td>
						<td>5.7</td>
						<td> <span class="rating-card">  </span> <span class=rating-point>0%</span> </td>
					</tr>	
					<tr>
						<td>Buffer ph</td>
						<td>1:1</td>
						<td>5.7</td>
						<td> <span class="rating-card">  </span> <span class=rating-point>0%</span> </td>
					</tr>
					<tr>
						<td>Sodium</td>
						<td>M3</td>
						<td>5 PPM</td>
						<td> <span class="rating-card rat-very-low">  </span> <span class=rating-point>10%</span> </td>
					</tr>

					<tr>
						<td>Potassium</td>
						<td>1:1</td>
						<td>90 PPM</td>
						<td> <span class="rating-card rat-low">  </span> <span class=rating-point>30%</span> </td>
					</tr>
					<tr>
						<td>Calcium</td>
						<td>M3</td>
						<td>1816 PPM</td>
						<td> <span class="rating-card rat-midium">  </span> <span class=rating-point>56%</span> </td>
					</tr>
					<tr>
						<td>Magnesium</td>
						<td>M3</td>
						<td>210 PPM</td>
						<td> <span class="rating-card rat-high">  </span> <span class=rating-point>70%</span> </td>
					</tr>

					<tr>
						<td>Sulfer</td>
						<td>M3</td>
						<td>19 PPM</td>
						<td> <span class="rating-card rat-midium">  </span> <span class=rating-point>58%</span> </td>
					</tr>
					<tr>
						<td>Iron</td>
						<td>M3</td>
						<td>235 PPM</td>
						<td> <span class="rating-card rat-very-high">  </span> <span class=rating-point>92%</span> </td>
					</tr>
					<tr>
							<td>Calcium</td>
							<td>M3</td>
							<td>1816 PPM</td>
							<td> <span class="rating-card rat-midium">  </span> <span class=rating-point>56%</span> </td>
						</tr>
						<tr>
							<td>Magnesium</td>
							<td>M3</td>
							<td>210 PPM</td>
							<td> <span class="rating-card rat-high">  </span> <span class=rating-point>70%</span> </td>
						</tr>
		
						<tr>
							<td>Sulfer</td>
							<td>M3</td>
							<td>19 PPM</td>
							<td> <span class="rating-card rat-midium">  </span> <span class=rating-point>58%</span> </td>
						</tr>
						<tr>
							<td>Iron</td>
							<td>M3</td>
							<td>235 PPM</td>
							<td> <span class="rating-card rat-very-high">  </span> <span class=rating-point>92%</span> </td>
						</tr>

				</tbody>
			</table>
		</div>
	</nb-card-body>

	<nb-card-footer>
		<div class="rating-cards">
			<div class="cart-item">
				<div class="card-bg rat-very-low"></div>
				<div class="card-text">Very Low</div>
			</div>
			<div class="cart-item">
				<div class="card-bg rat-low"></div>
				<div class="card-text">Low </div>
			</div>
			<div class="cart-item">
				<div class="card-bg rat-midium"></div>
				<div class="card-text"> Midium </div>
			</div>
		</div>

		<div class="rating-cards">
			<div class="cart-item">
				<div class="card-bg rat-high"></div>
				<div class="card-text">High</div>
			</div>
			<div class="cart-item">
				<div class="card-bg rat-very-high"></div>
				<div class="card-text">Very High</div>
			</div>
		</div>
	</nb-card-footer>

</nb-card>